body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 20px;
	height: 100vh;
}
.center {
	display: block;
	justify-content: center;
	align-items: center;
}
#index {
	display: flex;
	justify-content: center;
	align-items: center;
}
.profile {
	position: fixed;
	top: 10px;
	left: 10px;
}
.profile img {
	border-radius: 50%;
	height: 50px;
	width: 50px;
	object-fit: fit;
}
.pet-container {
	max-width: 800px;
	margin: 0 auto;
	padding-top: 80px;
	align-self: center;
}
.container {
	width: 300px;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.welcome {
	text-align: center;
	margin-bottom: 30px;
}
.pet-section {
	display: flex;
	justify-content: center;

}
.pet-card {
	width: 150px; 
	margin: 20px;
	text-align: center;
	padding-right: 100px;
}
.pet-card img {
	width: 150px;
	height: 150px;
	object-fit: cover;
	cursor: pointer;
}

h1 {
	text-align: center;
	color: #333;
	margin-bottom: 20px;
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.left-image, .right-image {
	max-width: 200px;
	max-height: 200px;
	margin: 0 20px;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
}
button:hover {
	background-color: #45a049;
}
